/vendor
/.fleet
/.idea
/.vscode
/.zed
.env
.env.*
!.env.example
.phpunit.result.cache
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/*
!/storage/app/public
!/storage/app/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/*.sqlite
/database/*.sqlite-journal
/public/build
/public/hot
/public/storage
# Coverage reports
/coverage
coverage/

*.log
Thumbs.db
.DS_Store
